{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div style="width:50%; margin:auto;" class="text-center">
    <h4>Welcome to Profile</h4>
    <h4>Welcome {{user}}</h4>
    <p><a class="link-secondary" href="{% url "change_pass" %}">Click to change Password</a></p>
    <p><a class="link-secondary" href="{% url "reset_pass" %}">Click to reset Password</a></p>   
</div>
<form method='post' style="width:50%; margin:auto;" >
    {% csrf_token %}
    <h3 class="text-center"> Edit User Details</h3>
    {{form |crispy}}
    <button type="submit" class="btn btn-success">Edit Data</button>
</form>
{% endblock content %}